name: Build Windows EXE for longexposure


on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-windows-exe:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install opencv-python numpy

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Package longexposure.py as EXE
        run: pyinstaller --onefile --name longexposure longexposure.py

      - name: Create and push new tag
        run: |
          TAG_NAME="v$(date +'%Y%m%d-%H%M%S')"
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git tag $TAG_NAME
          git push origin $TAG_NAME
        shell: bash

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.create_and_push_new_tag.outputs.TAG_NAME || github.ref_name }}
          release_name: Release ${{ steps.create_and_push_new_tag.outputs.TAG_NAME || github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload EXE to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/longexposure.exe
          asset_name: longexposure.exe
          asset_content_type: application/octet-stream
